.header {
    background: url(/img/header/backImage.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px 180px;
}
.section {
    background: transparent !important;
    width: 100%;
    height: 500px;
}