.header {
  background-image: url(/img/header/backImage.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 180px;
}

.header-container {
  width: 100%;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
}

.header-text {
  margin: 70px 0 0 70px;
}

.header-text p{
  color: #BB865F;
  font-size: 18px;
}
.header-title{
  text-transform: uppercase;
  color: #BB865F;
  font-size: 100px;
  padding-bottom: 50px;
}
.header-list-text {
  width: 60%;
  /* background: red; */
}

.header-list-text .li{
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #232323;
  margin-bottom: 25px;
}

.li img {
  padding-right: 15px;
}